* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#page{
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}
#user-input {
    display: flex;
    justify-content: center;
}
#search{
    width: 400px;
    height: 50px;
    padding-left: 15px;
    border: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 16px;
}
#search::placeholder{
    color: black;
}
button{
    width: 100px;
    height: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    outline: none;
    background-color: #333c4d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
div#images{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 50px auto 60px;
}
div#images img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}